{% load static  %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>PHONE_lIST</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

</head>
<body>
{% include "header.html" %}

<div class="container">
    <h1>Наш каталог продуктов</h1>
    <div class="grid">
        {% for i in phone_objects %}
            <div class="product-card">
                <img src="{{i.image.url}}" alt="П{{i.title}}" class="product-image">
                <div class="card-content">
                    <h3>{{i.title}}</h3>
                    <p>{{phone_detail.description|truncatewords:50}}</p>
                    <div class="info-price">
                        <span class="price">${{i.price}}</span>
                        <a href="/phone_list/{{i.id}}"> <button class="add-to-cart">Подровнее</button></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>